<h1>מה חושבים עליכם - הכנסת ההערות</h1>
<p>הכניסו את ההערות למשתמשים כשהן מופרדות בפסיקים</p>

<%form_tag :action => :save_comments do %>
<table>
	<% for user in @users.reject{|u| u.name == session[:name]} do %>
	  <tr>
		<td> <%=h user.name %>: </td>
		<td> <%= text_field_tag "user_" + user.name, user.comments_string(session[:name]), :size => 100 %> </td>
	  </tr>
	<% end %>
</table>

<%= submit_tag "עדכן" %>
<%= link_to "חזרה", :action => "index" %>
<% end %>