<h1>ברוכים הבאים אל "מה חושבים עליכם"</h1>
<% if session[:name] != nil %>
  <p>מחובר בתור  <%= session[:name]%> (<%= link_to "להתנתקות", :action => "logout" %>)</p>
<% else %>
  <p>אינכם מחוברים כרגע.</p>
<% end  %>