  <% for user in @users do %>
    <h2>
    <%=h user.name %>
    </h2>
    <p>
      <%for comment in user.describing_comments_list %>
      <%= link_to comment.text, {:action => :remove_comments, :comment => comment.id}, {:title => comment.submitter.name}%> | 
      <% end %>
    </p>
    <br>
  <% end %>
