<h1>User management</h1>
<table>
<% for user in @users do %>
  <tr>
    <% form_for user, :url => {:controller => :admin, :action => :users} do |f| %>
        <td><%= f.submit "אשר" %> </td>
	<td><%= f.check_box :participates%> </td>
	<td><%= f.label user.name %> </td>
    <% end  %>
    </tr>
<% end %>
</table>
